# Azure OpenAI 설정
AZURE_OPENAI_API_KEY=DqU8p01dVBFp55Om3IgvK1QSZ0dg31CYECMLK66HDf91kQFZXIXhJQQJ99CCACNns7RXJ3w3AAABACOG5pz3
AZURE_OPENAI_ENDPOINT=https://kwakyong-aoai.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-02-01
